@model ProjectQT.DataModel.Models.Product

@{
    ViewBag.Title = "Edit Product";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card ">
    <div class="card-header">
        <h3 class="card-title">@ViewBag.Title</h3>
    </div>
    <div class="card-body">
        <div class="col-md-12">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.CreateBy)
                @Html.HiddenFor(model => model.UpdateBy)
                @Html.HiddenFor(model => model.CreateAt)
                @Html.HiddenFor(model => model.UpdateAt)

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ProduceCode, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ProduceCode, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ProduceCode, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CategoryId, "CategoryId", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.SalePrice, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.SalePrice, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SalePrice, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ImageUrl, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ImageUrl, new { htmlAttributes = new { @class = "form-control upload_file" } })
                            @Html.ValidationMessageFor(model => model.ImageUrl, "", new { @class = "text-danger" })
                            <br />
                            <img src="@Model.ImageUrl" alt="" style="width: 250px" data-for="ImageUrl" />
                        </div>
                    </div>
                    @foreach (var item in ViewBag.TypeAttribute)
                    {
                        <div class="form-group">
                            <label class="control-label col-md-2">@item.TypeName</label>
                            <label class="col-md-10">
                                @foreach (var attr in item.Attributes)
                                {
                                    var check = Model.ProductAttributes.Any(x => x.AttributeId == attr.Id) ? "checked" : "";
                                    <label>
                                        <input @check class="attr_product" type="checkbox" name="" value="@attr.Id" />
                                        <b>@attr.Name</b>&nbsp;&nbsp;&nbsp;
                                    </label>
                                }
                            </label>
                        </div>
                    }

                    <div class="form-group row clearfix">
                        <label class="col-md-3 ">Status</label>
                        @if (Model.Status == true)
                        {
                            <label class="col-md-3 container text-success">
                                Active
                                <input checked class="" type="radio" name="Status" value="true" />
                                <span class="checkmark"></span>
                            </label>
                            <label class="col-md-6 container text-danger">
                                Block
                                <input type="radio" name="Status" value="false">
                                <span class="checkmark"></span>
                            </label>
                        }
                        else
                        {
                            <label class="col-md-3 container text-success">
                                Active
                                <input checked class="" type="radio" name="Status" value="true" />
                                <span class="checkmark"></span>
                            </label>
                            <label class="col-md-6 container text-danger">
                                Block
                                <input checked type="radio" name="Status" value="false">
                                <span class="checkmark"></span>
                            </label>
                        }
                    </div>


                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Update" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <!-- /.card-body -->
    <div class="card-footer ">
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Areas/Admin/Content/ckeditor/ckeditor.js"></script>
    <script src="~/Areas/Admin/Content/ckfinder/ckfinder.js"></script>
    <script>
        $(function () {
            $(".upload_file").click(function () {
                var input = $(this);
                var finder = new CKFinder();
                finder.selectActionFunction = function (url) {
                    input.val(url);
                    $("img[data-for='" + input.attr("id") + "']").attr("src", url);
                }
                finder.popup();
            });
        });
        $(function () {
            $(".attr_product").click(function () {
                var _index = 0;
                //duyệt qua các Attribute
                $(".attr_product").each(function () {
                    //Nếu input đó được chọn
                    if ($(this).is(":checked")) {
                        $(this).attr("name", "ProductAttributes[" + _index + "].AttributeId")
                        _index++;
                    } else {
                        $(this).attr("name", "")
                    }
                })
            })
        })
    </script>

}