@model List<ProjectQT.ViewModel.CartModel.CartModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="banner-bottom-wthreelayouts py-lg-5 py-3">
    <div class="container">
        <div class="inner-sec-shop px-lg-4 px-3">
            <h3 class="tittle-w3layouts my-lg-4 mt-3">Checkout </h3>

            <div style="margin-bottom:20px" class="row">
                <h4>
                    Your shopping cart contains:
                    <span>@Model.Count() Products</span>
                </h4>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>SL No.</th>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Product Name</th>
                            <th>Price</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count() > 0)
                        {
                            var slNO = 0;
                            foreach (var item in Model)
                            {
                                slNO += 1;
                                <tr class="rem1">
                                    <td class="invert">@slNO</td>
                                    <td class="invert-image">
                                        <img width="100" src="@item.Products.ImageUrl" alt=" " class="img-responsive">
                                    </td>
                                    <td class="invert">
                                        <div class="quantity">
                                            <div class="quantity-select">
                                                <div class="entry value-minus">&nbsp;</div>
                                                <div class="entry value">
                                                    <span>@item.Quantity</span>
                                                </div>
                                                <div class="entry value-plus active">&nbsp;</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="invert">
                                        <a>@item.Products.Name </a>
                                        @{
                                            var _attrs = item.Attrs.Split(',');
                                        }
                                        @foreach (var attr in ViewBag.attrs)
                                        {
                                            if (_attrs.Any(x => Convert.ToInt32(x) == attr.Id))
                                            {
                                                <h5>@attr.Name</h5>
                                            }
                                        }
                                    </td>

                                    <td class="invert">$@item.Products.Price</td>

                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="6" class="text-center">No products in the cart</td>
                            </tr>
                        }
                    </tbody>
                </table>
                @if (Model.Count() > 0)
                {
                    <div style="width:100%">
                        <a style="float:right" href="/Carts/Delete" class="btn btn-sm btn-danger">
                            Remove
                        </a>
                    </div>
                }

            </div>

            <div class="row">
                <div class="col-md-6 checkout-left-basket">
                    <h4 style="background-color: #ff4e00; color: white; padding: 10px; text-align: center; font-weight: 100;">Continue to basket</h4>
                    <table class="table">

                        @{
                            var sl = 0;
                            decimal totalMoney = 0;
                            foreach (var item in Model)
                            {
                                var total = item.Products.Price * item.Quantity;
                                totalMoney += total;
                                sl += 1;
                                <tr>
                                    <td>
                                        Product(@sl)
                                    </td>
                                    <td>
                                        @item.Products.Name
                                    </td>
                                    <td>$@total</td>
                                </tr>
                            }
                            <tr style="border-top: 1px solid #bbb; margin-bottom: 15px;">
                                <td>Total</td>
                                <td></td>
                                <td>$@totalMoney</td>
                            </tr>
                        }
                    </table>
                    @if (Model.Count() == 0)
                    {
                        <a class="btn btn-primary" href="/Home/Index">Back To Home</a>
                    }
                    else
                    {
                        <input id="btnSubmit" class="btn btn-success" type="submit" value="Make a Payment" />
                    }
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</section>

@section scripts
{
    <script>

        $('#btnSubmit').on('click',
            function (e) {
                var dateModel = {
                    ProductId: $('#productId').val(),
                };
                SubmitFeedback(dateModel);
            });

        function SubmitFeedback(dateModel) {
            $.ajax({
                url: '/Carts/CreateOrder',
                type: 'POST',
                cache: false,
                async: true,
                dataType: "json",
                data: dateModel
            });
            location.reload();
        }
    </script>

}
