@model IEnumerable<ProjectQT.ViewModel.AttributeModel.AttributeModel>


@{
    ViewBag.Title = "List Attribute";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-12">
    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
    </p>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">@ViewBag.Title</h3>
        </div>
        @if (TempData["CreateSuccess"] != null)
        {
            <h3 class="alert alert-success lisproduct-alert">@TempData["CreateSuccess"]</h3>
        }
        @if (TempData["UpdateSuccess"] != null)
        {
            <h3 class="alert alert-success lisproduct-alert">@TempData["UpdateSuccess"]</h3>
        }
        @if (TempData["DeleteSuccess"] != null)
        {
            <h3 class="alert alert-success lisproduct-alert">@TempData["DeleteSuccess"]</h3>
        }
        @if (TempData["DeleteFalse"] != null)
        {
            <h3 class="alert alert-danger lisproduct-alert">@TempData["DeleteFalse"] </h3>
        }
        <!-- /.card-header -->
        <div class="card-body table-responsive">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        Type
                    </th>
                    
                    <th>
                        @Html.DisplayNameFor(model => model.UpdateBy)
                    </th>
                    
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>Action</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TypeName)
                        </td>
                        
                        <td>
                            @Html.DisplayFor(modelItem => item.UpdateBy)
                        </td>
                        
                        @if (item.Status == true)
                        {
                            <td>
                                Active &nbsp<i style="color : green" class=" fa fa-check-circle"></i>
                            </td>
                        }
                        else
                        {
                            <td>
                                Block &nbsp<i style="color : red" class="fa fa-times"></i>
                            </td>
                        }
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" }) &nbsp
                            @Html.ActionLink("Detail", "Detail", new { id = item.Id }, new { @class = "btn btn-info" }) &nbsp
                            <a onclick=" return confirm('You definitely want to delete');" href="/Admin/Attributes/Delete/@item.Id" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>