@model ProjectQT.ViewModel.AccountModel.LoginViewModel
@{
    ViewBag.Title = "Login";
}

<h5 class="text-center mb-4">Login Now</h5>
<div style="width:30%; margin: 0 auto; border: 2px solid aliceblue; padding: 10px 15px;">
    <form action="" method="post" class="form">
        @if (TempData["RigisterSucess"] != null)
        {
            <h6 class="alert alert-success lisproduct-alert">@TempData["RigisterSucess"]</h6>
        }

        @if (ViewBag.err != null)
        {
            <p class="alert alert-danger">@ViewBag.err</p>
        }
        @if (ViewBag.err1 != null)
        {
            <p class="alert alert-danger">@ViewBag.err1</p>
        }
            <div class="form-group">
                <label>Email</label>
                <input class="form-control" data-val="true" data-val-required="The Email field is required." id="Email" name="Email" type="text" value="">
                @Html.ValidationMessageFor(model => model.Email, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Password</label>
                <input class="form-control" data-val="true" data-val-required="The Password field is required." id="Password" name="Password" type="password" value="">
                @Html.ValidationMessageFor(model => model.Password, null, new { @class = "text-danger" })
            </div>
        <button type="submit" class="btn btn-primary submit mb-4">Login</button>

    </form>
</div>



