@model ProjectQT.ViewModel.AccountModel.LoginViewModel
@{
    ViewBag.Title = "Login";
}

<div class="container text-left">
    <div class="wrap">
        <div class="login p-5 bg-dark mx-auto mw-100">
            <h5 class="text-center mb-4">Login Now</h5>
            <div style="width:50%; margin: 0 auto;">
                <form action="" method="post" class="form">
                    @if (TempData["RigisterSucess"] != null)
                    {
                        <h3 class="alert alert-success lisproduct-alert">@TempData["RigisterSucess"]</h3>
                    }
                    
                    @if (ViewBag.err != null)
                    {
                        <p class="alert alert-danger">@ViewBag.err</p>
                    }
                    <div class="row mb-2">
                        <div class="col-6">
                            <label>Email address :</label>
                        </div>
                        @Html.EditorFor(model => model.Email, null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Email, null, new { @class = "text-danger" })
                    </div>
                    <div class="row mb-2">
                        <div class="col-6">
                            <label>Password :</label>
                        </div>
                        <input class="text-box single-line" data-val="true" data-val-required="The Password field is required." id="Password" name="Password" type="password" value="">
                        @Html.ValidationMessageFor(model => model.Password, null, new { @class = "text-danger" })
                    </div>
                    <button type="submit" class="btn btn-primary submit mb-4">Sign In</button>

                </form>
            </div>
        </div>
    </div>
</div>



